<div class="loginForm">

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div "notification">
        {{ messages[0] }}. Go to <a href="{{ url_for('login_get') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}

<h1> Change Password </h1>
<form action="/change_password" method="POST">
  <div class="Username">
    <label>Username</label>
    {{ FORM.username(_class="form-control", placeholder="username") }}
  </div>
    <div class="Password">
    <label>Password Atual</label>
    {{ FORM.password(_class="form-control", placeholder="senha") }}
  </div>
  <div class="Password1">
    <label>Password</label>
    {{ FORM.password1(_class="form-control", placeholder="senha") }}
  </div>
  <div class="Password">
    <label>Password2</label>
    {{ FORM.password2(_class="form-control", placeholder="senha") }}
  </div>
  <button type="submit" class="submit">login</button>

</div>
